
.redes{
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  
}

.iconos{
  color: white;
  text-decoration: none;
  padding: .7rem;
  display:flex;
  transition:all .5s;
  width: 60px;
  
}

.iconos:hover{
  transform:scale(1.5) rotate(20deg);
  opacity:0.6;
}


.contenedor{
width:100vw;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 100px;
gap: 40px;


}
.imagen{
  margin:10px;
}
.imagen img:hover{
  transform: scale(1.2) rotateZ(20deg)
}
.imagen img {
  width: 255px;
  height: 200px;
  border-radius: 30px;
  border-style: outset;
  border: black;
}



