@mixin tamanio($ancho, $altura){

  width:$ancho;
  height:$altura;
  
  }
$anchura:100px;
$alto: 100px;
$margin:100px;
$padding:10px;
$marginTop:100px;
$gridGap:50px;


.contenedor{
  width:$anchura;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $marginTop;
  gap: calc($anchura  - 60px);
  
  }
  .imagen{
    margin: calc($margin - 90px );
   img {
    @include tamanio(255px,200px);
      border-radius: calc($anchura - 70px);
      border-style: outset;
      border: black;
    }
  }
 
  .imagen img:hover{
    transform: scale(1.2) rotateZ(20deg);
  
    }
  
.pie-pagina{
  background-color:black;

  .contenido1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: $gridGap;
    padding: calc($padding + 35px) 0px;
  
  
  .cajita img{
    @include tamanio(200px, 180px);
    margin-top: calc($margin - 80px );
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  }
}
  .pie-pagina .contenido1 .cajita iframe{

    @include tamanio (300px, 250px);
   
    margin-top: calc($margin - 80px);
    
  }
  @media screen and (max-width:800px){
    .pie-pagina .contenido1{
      width: 90%;
      grid-template-columns: repeat(1,1fr);
      grid-gap: calc($gridGap - 40px);
      padding: $padding 0px;
    }
  
  }