$colorfondo: white;
$colorHover: rgb(255, 255, 255);
$colorTexto: black;
$texto : sans-serif;
$pixel: 600px;
$colorcontacto: rgb(6, 212, 6);


body {
  padding: calc($pixel/30);
  font-family: $texto;
  background: $colorfondo;
}
